{% extends "profile/base_profile.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>

        * {
            box-sizing: border-box;
        }
        h1 {
            text-align: center;
        }
        </style>

    <h1>Welcome to TBD Planner</h1>
    <p>This is the home page.</p>
    <p>Click <a href="{{ url_for('profile.calendar') }}">here</a> to go to the calendar page.</p>

    
{% endblock %}

