{% extends "home/home.html" %}

{% block content %}
    <div class="flex-column container">
        <form class="flex-column form" action="/forgotPassword", method="post">
            <span class="title bold-text">{% block title %}Reset password{% endblock %}</span>
            <div class="flex-column margin-top">
                <span class="bold-text">Email</span>
                <input class="medium-text small-margin-top padding-horizontal padding-vertical" type="email" name="email" value="{{request.form.email}}" placeholder="email" autofocus required/>
            </div>
            <input class="medium-text bold-text loginButton margin-top padding-vertical" type="submit"/>
        </form>
    </div>
{% endblock %}