{% extends 'base.html' %}

{% block body %}
<nav class="navBar">
    <span>
        <a class="navButton floatLeft" href="{{ url_for('home.index')}}">My Planner</a>
        <a class="navButton floatLeft" href="{{ url_for('home.about') }}">About</a>
        <a class="navButton floatLeft" href="{{ url_for('home.contactUs') }}">Contact Us</a>
    </span>
    <span>
        <a class="navButton floatRight" href="{{ url_for('home.logIn') }}">Log In</a>
        <a class="navButton floatRight" href="{{ url_for('home.signUp') }}">Sign Up</a>
    </span>
</nav>
<div class="container">
    {% block content %}
    <span>{% block title %}Home{% endblock %}</span>
    {% endblock %}
</div>
{% endblock %}