{% extends 'base.html' %}

{% block body %}
<nav class="navBar">
    <ul>
        <li><a href="{{ url_for('home.index')}}">Home</a></li>
        <li><a href="{{ url_for('home.about') }}">About</a></li>
        <li><a href="{{ url_for('home.contactUs') }}">Contact Us</a></li>
        <li class="rightNav"><a href="{{ url_for('auth.login') }}">Log In</a></li>
        <li class="rightNav"><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
    </ul>
</nav>
<div class="pageContainer">
    {% block content %}
    <div class="contactUs">
        <div>Team TBD - TBD Planner</div>
        <ul>
            <li><a href="{{ url_for('home.index')}}">{% block title %}Home{% endblock %}</a></li>
            <li><a href="{{ url_for('home.about') }}">About</a></li>
            <li><a href="{{ url_for('home.contactUs') }}">Contact Us</a></li>
            <li class="rightNav"><a href="{{ url_for('auth.login') }}">Log In</a></li>
            <li class="rightNav"><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
        </ul>
    </div>
    {% endblock %}
</div>
{% endblock %}