{% extends "home/home.html" %}

{% block content %}
<form class="form" action="/login" method="post">
    <span class="title">{% block title %}Log in{% endblock %}</span>
    {% if error %}
    <span class="error"><strong>Error: </strong>{{error}}</span>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <span class="flash">{{message}}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="formGroup">
        <span>Email</span>
        <input type="email" placeholder="Email" name="email" value="{{ request.form.email }}" autofocus required />
    </div>
    <div class="formGroup">
        <span>Password</span>
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required />
    </div>
    <input type="submit" value="Log in" />
    <span>No account? <a style="text-decoration: none;" href="/signup">Sign up</a></span>
</form>
{% endblock %}