{% extends "home/home.html" %}

{% block content %}
<form class="form" action="/signup" method="post">
    <span class="title">{% block title %}Create account{% endblock %}</span>
    {% if error %}
    <span class="error"><strong>Error: </strong>{{error}}</span>
    {% endif %}
    <div class="formGroup">
        <span>Email</span>
        <input type="email" placeholder="Email" name="email" value="{{ request.form.email }}" autofocus required />
    </div>
    <div class="formGroup">
        <span>Password</span>
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required />
    </div>
    <div class="formGroup">
        <span>Confirm Password</span>
        <input type="password" placeholder="Confirm Password" name="confirmPassword"
            value="{{ request.form.confirmPassword }}" required />
    </div>
    <input type="submit" value="Create account" />
    <span>Have an account? <a style="text-decoration: none;" href="/login">Log in</a></span>
</form>
{% endblock %}