{% extends "base.html" %}

{% block content %}
<div class="flex-column container">
    <form class="flex-column form" action="/logIn" method="post">
        <span class= "title bold-text">Log in</span>
        {% if error %}
            <span class="error"><strong>Error: </strong>{{error}}</span>
        {% endif %}
        <div class="flex-column margin-top">
            <span class="bold-text">Email</span>
            <input class="small-margin-top padding-vertical padding-horizontal medium-text" type="email" placeholder="Email" name="email" value="{{ request.form.email }}" autofocus required/>
        </div>
        <div class="flex-column margin-top">
            <div class="flex-space-between">
                <span class="bold-text">Password</span>
                <a href="/forgotPassword">Forgot your password?</a>
            </div>
            <input class="small-margin-top padding-vertical padding-horizontal medium-text" type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required/>
        </div>
        <div class="margin-top">
            <input class="rememberMeCheckBox" type="checkbox" name="rememberMe" value="{{ request.form.rememberMe }}">Remember me</input>
        </div>
        <input class="small-margin-top padding-vertical medium-text bold-text logInButton" type="submit" value="Log in" />
        <span class="margin-top">No account? <a href="/signUp">Sign up</a></span>
    </form>
</div>
{% endblock %}