{% extends "home.html" %}

{% block content %}
<div class="flex-column container">
    <form class="flex-column form" action="/signUp" method="post">
        <span class= "title bold-text">{% block title %}Create account{% endblock %}</span>
        {% if error %}
            <span class="error"><strong>Error: </strong>{{error}}</span>
        {% endif %}
        <div class="flex-column margin-top">
            <span class="bold-text">Email</span>
            <input class="small-margin-top padding-vertical padding-horizontal medium-text" type="email" placeholder="Email" name="email" value="{{ request.form.email }}" autofocus required/>
        </div>
        <div class="flex-column margin-top">
            <span class="bold-text">Password</span>
            <input class="small-margin-top padding-vertical padding-horizontal medium-text" type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"/>
        </div>
        <input class="margin-top padding-vertical medium-text bold-text logInButton" type="submit" value="Create account" />
        <span class="margin-top">Have an account? <a href="/logIn">Log in</a></span>
    </form>
</div>
{% endblock %}