{% extends 'home/home.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact-us">
        <h2>Get in touch</h2>
        <h3>Want to get in touch? We'd love to hear from you. Here's how you can reach us...</h3>
        <p><strong>Phone:</strong> +1 (333)123-####</p>
        <p><strong>Email:</strong> support@teamtbd.com</p>
        <p><strong>Fax:</strong> 1-850-201-####</p>
        <p><strong>Boulder Office:</strong></p>
        <address>2200 Software Avenue, Boulder, CO 80301</address>
</div>
{% endblock %}